body {
	background: url('../img/bj9.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	font-family: 隶书;
}

#z_img {
	padding-top: 40px;
}

#inzs {
	border: 1px solid #D9EDF7;
}

#inzx {
	padding-top: 40px;
	padding-left: 40px;
	border: 1px solid #D9EDF7;
}

#iny {
	border: 1px soid blue;
}

#myCarousel {
	width: 400px;
	padding-right: 0px;
	
}


/*调整圆圈链接ol位置*/

.carousel-indicators {
	bottom: -5px;
}


/*调整轮播图位置*/

#carousel-example-generic {
	padding-right: 0px;
}

#inyzwenzi {
	padding: 0px 6px 1px 6px;
	font-family: "隶书";
	font-size: 14px;
	line-height: 20px;
}

#inyzwenzi1 {
	padding: 0px 5px 0px 5px;
	font-family: "隶书";
	font-size: 14px;
	line-height: 19px;
}
#in_wen li{
	
	color: #000000;
}

.nav {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: -20px;
	background: #E9EFF3;
}

#logo {}

#hey {
	padding-top: 0px;
	margin-top: 20px;
}

#hey p {
	padding: 0 20px 20px 20px;
	font-family: "微软雅黑";
	font-size: 15px;
	line-height: 20px;
}

#hey h3 {
	text-align: center;
	color: red;
}

#pz {
	padding: 40px 20px 10px 20px;
}

#pz p {
	font-family: "隶书";
	font-size: 20px;
	line-height: 25px;
}

#pzs {
	margin: 40px 20px 40px 20px;
}

#p_all {
	font-family: "隶书";
	font-size: 18px;
	line-height: 20px;
}


/*雨幕部分*/

#zt {
	margin-left: 20px;
	
}

#zz {
	padding-bottom: 0px;
}

#zss {
	margin-bottom: 0px;
}

#zs {
	margin-top: 50px;
}

#zsy {
	margin-right: 10px;
}

#zssy {
	margin-top: 30px;
}

#z1 {
	padding-right: 30px;
}

#b1,
#b2,
#b3 {
	margin-left: 35px;
}


#z4 {
	margin-top: 9px;
}

#t {
	margin-top: auto;
	float: ;
	width: 1150px;
	height: 290px;
	font-size: 17px;
	margin-bottom: 10px;
}

#hezx {
	margin-left: 18px;
	margin-top: 13px;
}
/*about*/
#about {
	padding-left: 30px;
	font-family: 隶书;
}

#about p {
	font-size: 20px;
}


/*相册部分*/

#canvas {
	position: absolute;
	width: 1200px;
	height: 1000px;
}

#photo_1{
	padding-left: 30px;
	font-family: 隶书;
}
#photo_1 p{
	font-size: 20px;
}
/*音乐部分*/
#music_1{
	width: 250px;
	height: 50px;
	background-color: #F6F6F6;
	opacity: 0.3;
}
#band .row{
	border: #67B168 solid 1px;
	padding: 40px 20px 40px 20px;
	
}
#band_p{
	
	font-family: 隶书;
	line-height: 5px;
	font-size: 19px;
	padding-bottom: 20px;
}
#band img{
	margin: 0 auto;
	width: 100px;
	height:100px;
}
/*文章*/
#tabNav{
	font-size: 10px;
	margin-right:30px ;
	padding-top: -10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background: #E9EFF3;
	
}
#svwz{
	padding: 10px 6px 1px 15px;
	font-family: "隶书";
	font-size: 20px;
	line-height: 20px;
}
#myCarousel1{
	padding-top: 60px;
}
#gwen{
	font-size: 20px;
	padding-left: 80px;
}
